body {
    background-color: #191919;
    color: #E9E5CD;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Kaisei Tokumin', sans-serif;
    overflow-x: hidden;
}

.element-animation {
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
    transform: translateY(100px);
}
  
.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.section-assort-list-wheels .element-animation {
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
    transform: translateX(300px);
}
  
.section-assort-list-wheels .element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.section-construkor-right .element-animation {
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
    transform: translateX(700px);
}
  
.section-construkor-right .element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.section-construkor-left .element-animation {
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
    transform: translateX(-500px);
}
  
.section-construkor-left .element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

header {
    width: 100vw;
    height: 100vh;
}

main {
    border: 0;
    padding: 0;
    margin: 0;
}

section {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

footer {
    width: 100vw;
    height: 100vh;
}

.color-orange { 
    color: #FF723F;
}

.color-cream {
    color: #E9E5CD;
}

.color-pink {
    color: #B9425F;
}

.color-white {
    color: #fff;
}

.color-black {
    color: #191919;
}

.rightside-header-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.rightside-header-nav nav a{
    text-decoration: none;
    font-size: 13px;
    position: relative;
}

.rightside-header-nav nav a::after {
    content: '';
    position: absolute;
    top: calc(100% + 3px);
    right: 0;
    width: 0;
    height: 1px;
    background-color: #FF723F;
    transition: width 0.5s ease, right 0.3s ease;
}
  
  .rightside-header-nav nav a:hover::after {
    width: 100%;
    right: 0%;
}

.upper-header {
    display: flex;
}

.rightside-header-nav {
    width: 85%;
}

.leftside-header-nav {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftside-header-nav h1{
    font-family: 'Kapakana', sans-serif;
    font-weight: 300;
    font-size: 96px;
    margin: 0;
}

.main-content h1{
    font-family: 'Kapakana', sans-serif;
    font-weight: 300;
    font-size: 128px;
    margin: 0;
    text-align: center;
}

.main-content {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

.main-content h2 {
    font-weight: 400;
}
.line-orange {
    height: 1px;
    width: 600px;
    background-color: #FF723F;
}

.section-aboutus {
    background-image: url(../img/Group2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    place-items: center;
}

.section-aboutus-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E9E5CD;
    font-size: 24px;
    width: 800px;
    text-align: center;
    font-weight: 500;
}

.section-feedback {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.slide {
    width: 270px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-orange {
    background-color: #FF723F;
}

.slide-pink {
    background-color: #B9425F;
}

.slide-cream {
    background-color: #E9E5CD;
}

.slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.section-address {
    background-image: url(../img/Group3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.section-address-left {
    width: 55%;
    color: white;
    display: flex;
    flex-direction: column;
}

.section-address-left li {
    list-style: none;
    font-size: 20px;
    padding: 30px 20px;
}
.section-address-left h3 {
    font-family: 'Rubik One', sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.section-address-right {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-address {
    width: 575px;
    height: 700px;
    background-color: #191919;
    opacity: 0.9;
    border-radius: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    word-spacing: 10px;
    letter-spacing: -1px;
}

.slider-address ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding-right: 150px;
    word-spacing: 10px;
}

.slider-address li {
    margin: 40px 0 40px 0;
    font-size: 23px;
}

#map {
    width: 80%;
    height: 300px;
    margin-top: 20px;
}

.section-assort {
    background-image: url(../img/car1.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    font-weight: 400;
    word-spacing: 10px;
}

.section-assort-txt {
    padding-top: 50px;
}

.section-assort-list {
    display: flex;
}

.section-assort-list-left {
    width: 50%;
}

.section-assort-list-wheels {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 20px;
}

.wheels {
    margin: 50px;
}

.wheels img {
    width: 200px;
}

.wheels img {
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
    cursor: pointer;
}

.wheels img:hover {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}

.section-construkor {
    display: flex;
}

.section-construkor-left {
    width: 25%;
}

.section-construkor-left h4 {
    padding: 70px 20px 0;
    text-align: justify;
    word-spacing: 20px;
}

.section-construkor-left h5 {
    padding: 20px 20px 0;
    text-align: justify;
    font-size: 15px;
    word-spacing: 10px;
}

.section-construkor-right {
    width: 75%;
    display: grid;
    place-items: center;
}

.construktor {
    width: 90%;
    height: 80%;
    border: 5px solid #FF723F;
    border-radius: 50px;
    display: grid;
    place-items: center;
    background-color: black;
    overflow: hidden; /* предотвращаем выход за границы контейнера */
    position: relative;
}

.construktor img {
    width: 90%;
    position: absolute;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.wheels-const {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-color: #191919 #FF723F;
    scrollbar-width: thin;
}

.wheels-const img {
    margin: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wheels-const,
.cars-const,
.coll-const {
    display: flex;
    justify-content: space-evenly;
}

.wheels-const img,
.cars-const img,
.coll-const img{
    width: 120px;
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
    cursor: pointer;
}

.wheels-const img:hover,
.cars-const img:hover,
.coll-const img:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}

.coll-const-item h6 {
    text-align: center;
    font-size: 20px;
}

.slide-out {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide-in {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.footer-side {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.footer-text {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
}

.bottom-block {
    background-color: black;
    height: 100px;
    width: 100%;
    display: grid;
    place-items: center;
    font-family: 'Times New Roman', Times, sans-serif;
}

.bottom-block h3 {
    font-weight: 100;
}

.footer-block a{
    color: #E9E5CD;
    text-decoration: none;
}

.black {
    background-color: black;
}

.section-shop {
    text-align: center;

}

.section-shop h2{
    padding: 50px;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item-in-shop {
    width: 17vw;
    height: 17vw;
    margin: 30px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 15px 19px 6px black;
    -moz-box-shadow: 0px 15px 19px 6px black;
    box-shadow: 0px 15px 19px 6px black;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    cursor: pointer;
    display: grid;
    place-items: center;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.item-in-shop:hover {
    -webkit-transform:scale(1.03); /* Safari and Chrome */
    -moz-transform:scale(1.03); /* Firefox */
    -ms-transform:scale(1.03); /* IE 9 */
    -o-transform:scale(1.03); /* Opera */
    transform:scale(1.03);
}

.item-in-shop-1 {
    background-image: url(../img/chiptun.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-in-shop-2 {
    background-image: url(../img/exhaust.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-in-shop-3 {
    background-image: url(../img/2jzgte.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-in-shop-4 {
    background-image: url(../img/wheel-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-in-shop-5 {
    background-image: url(../img/coll.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-in-shop-6 {
    background-image: url(../img/torm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-in-shop-7 {
    background-image: url(../img/rul.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
